*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #ddd; }

.menu {
  list-style: none;
  width: 100%;
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: center;
  background-color: #444; }
  .menu__item {
    padding-right: 4rem; }
    .menu__item:nth-child(4) {
      padding-right: 0; }
  .menu__link {
    display: block;
    padding: 1rem;
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    transition: background .5s; }
    .menu__link:hover {
      background-color: #222; }

.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
  font-weight: 900;
  color: #777;
  text-shadow: 10px 10px 10px #aaa; }

.title {
  font-size: 4rem;
  color: grey; }

.content {
  border: 1px solid #aaa;
  padding: 2rem;
  height: 200px;
  margin-bottom: 65rem; }
